.page-header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-part {
  color: var(--accent-color);
}

.menu {
  display: none;
}

.menu-contacts {
  display: none;
}

.open-mobile-menu-btn {
  line-height: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-icon {
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 768px) {
  .open-mobile-menu-btn {
    display: none;
  }

  .page-header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .page-navigation {
    display: flex;
    align-items: center;
  }

  .logo.link {
    margin-right: 87px;
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .menu__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    padding: 32px 0;
    position: relative;

    &.current::after {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 4px;
      background-color: var(--accent-color);
      left: 0;
      bottom: -1px;
      border-radius: 2px;
    }
  }

  .menu-contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 8px;
  }

  .mail-link,
  .phone-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }

  .mail-link {
    margin-bottom: 10px;
  }

  .mail-svg {
    width: 14px;
    height: 10px;
  }

  .phone-svg {
    width: 10px;
    height: 14px;
  }

  .mail-svg,
  .phone-svg {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .logo.link {
    margin-right: 92px;
  }

  .menu__link {
    transition: color var(--animation-link);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .menu-contacts {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .mail-link,
  .phone-link {
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--animation-link);
    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .mail-link {
    margin-bottom: 0;
  }

  .mail-svg {
    width: 16px;
    height: 12px;
  }

  .phone-svg {
    width: 10px;
    height: 16px;
  }
}
