.work__list {
  display: flex;
  justify-content: space-between;
}
.work {
  padding-top: 0;
}

.work__item {
  position: relative;
}

.work__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 0;
  text-align: center;
  color: var(--tertiary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}
