.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
  cursor: pointer;
}

.modal-form-field-textarea {
  margin-bottom: 20px;
  cursor: pointer;
}

.modal-form-field-desc {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modal-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--animation-link);
  cursor: pointer;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal-form-icon {
  display: block;
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: var(--primary-text-color);
  transition: fill var(--animation-link);

  .modal-form-input:focus + & {
    fill: var(--accent-color);
  }
}

.modal-form-message {
  display: block;
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  transition: border-color var(--animation-link);
  cursor: pointer;

  &::placeholder {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }
}

.modal-form-check-field {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  justify-content: center;
  cursor: pointer;
}

.modal-form-check {
  appearance: none;
  position: absolute;
}

.checkbox {
  display: flex;
  align-items: center;
}

.own-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 3px;
  fill: var(--tertiary-text-color);
  background-color: transparent;
  display: flex;
  align-items: center;
  transition: background-color var(--animation-link),
    border var(--animation-link), border-color var(--animation-link);

  .modal-form-check:checked + & {
    background-color: var(--accent-color);
    border: none;
  }

  .modal-form-check:focus + & {
    border-color: var(--accent-color);
  }
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  margin-left: 7px;
}

.policy-link {
  color: var(--accent-color);
}
.submit-button {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--tertiary-text-color);
  transition: background-color var(--animation-link),
    box-shadow var(--animation-link);

  &:focus,
  &:hover {
    background-color: var(--hover-button-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
